/* =========================
   GOOGLE FONTS
========================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

/* =========================
   RESET CSS
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    color: #1F1F1F;
    line-height: 1.6;
    overflow-x: hidden;
}

/* =========================
   ROOT COLORS
========================= */
:root {
    --primary-color: #23381F;
    --secondary-color: #E67E22;
    --background-color: #F6F3EE;
    --dark-color: #1F1F1F;
    --white: #FFFFFF;
    --gap: 50px;
    --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* =========================
   SECTION PADDING
========================= */
.padding {
    padding: 0 80px;
}

/* =========================
   NAVBAR
========================= */

/* NAVBAR START */

.nav-wrapper{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--background-color);
    box-shadow: var(--shadow);
}

.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar #toggle {
    font-size: 24px;
    color: var(--primary-color);
    display: none;
}

.navbar .nav-menu i {
    font-size: 24px;
    color: var(--white);
    margin-right: 20px;
    display: none;
}

/* NAVBAR LOGO START*/
.navbar .company-logo {
    height: 80px;
    width: 150px;
}

.navbar .company-logo a img {
    height: 100%;
    width: 100%;
}

/* NAVBAR LOGO END*/




/* NAVBAR MENU START*/

.navbar .nav-menu {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.navbar .nav-menu li {
    list-style: none;
}

.navbar .nav-menu li a {
    display: inline-block;
    color: var(--dark-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar .nav-menu li a:hover {
    color: var(--secondary-color);
    transform: translateY(-2px);
}

/* NAVBAR MENU END*/

/* NAVBAR ACTION START */

/* NAVBAR SHOPE CART START */
.navbar .nav-actions {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar .nav-actions .cart-icon {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .nav-actions .cart-icon:hover {
    transform: translateY(-3px);
}

.navbar .nav-actions .cart-icon i {
    color: #23381F;
    font-size: 24px;
    transition: all 0.3s ease;
}

.navbar .nav-actions .cart-icon:hover i {
    transform: scale(1.15);
}

.navbar .nav-actions .cart-icon .cart-count {
    animation: pulse 2s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    /* 100%{
        transform: scale(1);
    } */
}

.navbar .nav-actions .cart-icon .cart-count {
    position: absolute;
    top: -13px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

/* NAVBAR SHOPE CART END */

/* NAVBAR BOOKING TABLE START*/
.navbar .nav-actions .book-table-btn,
.navbar .nav-menu .book-table-btn {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.navbar .nav-menu .book-table-btn {
    display: none;
}

.navbar .nav-actions .book-table-btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* NAVBAR BOOKING TABLE END*/
/* =========================
   NAVBAR END
========================= */
/* =========================
    HERO SECTION
========================= */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 80px;

    background-image: url("image/hero1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 600px;
}

.welcome-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
}

.welcome {
    font-family: 'Allura', cursive;
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.hero h1 {
    font-size: 3rem;
    color: #23381F;
    line-height: 1.1;
    margin: 0 0 15px;
}

.typing-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
}

#text::after {
    content: "|";
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.hero p {
    margin-top: 25px;
    font-size: 1.2rem;
    color: var(--primary-color);
    max-width: 500px;
}

.hero-btns {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
}

.order-btn {
    padding: 0.5rem 2rem;
    background-color: #E67E22;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.order-btn:hover {
    transform: translateY(-2px);
}

.book-btn {
    padding: 0.5rem 2rem;
    border: 2px solid #23381F;
    color: #23381F;
    text-decoration: none;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.book-btn:hover {
    transform: translateY(-2px);
    background-color: var(--primary-color);
    color: var(--white);
}

/* =========================
   RESPONSIVE
========================= */
/* NAVBAR */
/* Tablet */
@media (max-width: 1024px) {
    .padding {
        padding: 0 20px;
    }

    .navbar .nav-menu,
    .navbar .nav-actions {
        gap: 20px;
    }

    .navbar .company-logo {
        height: 65px;
        width: 100px;
    }

    .navbar .nav-actions .book-table-btn {
        padding: 0.5rem;
    }
}

/* Mobile */
@media (max-width: 768px) {

    .navbar .company-logo {
        height: 50px;
        width: 100px;
    }

    .navbar .nav-menu,
    .navbar .nav-actions {
        gap: 15px;
    }

    .navbar .nav-menu li a {
        font-size: 1rem;
    }
}

/* Small Mobile */
@media (max-width: 576px) {
    .navbar #toggle {
        display: block;
    }

    .navbar .nav-actions .book-table-btn {
        display: none;
    }

    .navbar .company-logo {
        height: 70px;
        width: 150px;
    }

    .navbar .nav-menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 250px;
        height: 100vh;
        background-color: var(--primary-color);
        align-items: flex-start;
        padding: 35px 40px 0 40px;
        transform: translateX(100%);
        transition: all 0.3s ease;
    }

    .navbar .nav-menu.active {
        transform: translateX(0);
    }

    .navbar .nav-menu li a {
        color: var(--white);
    }

    .navbar .nav-menu i {
        display: inline-block;
    }

    .navbar .nav-menu .book-table-btn {
        display: block;
        background-color: var(--secondary-color);
        padding: 0.5rem 2rem;
        margin-top: 25px;
    }
}